<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property> 
		<property name="hibernate.connection.password"></property> <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/hsqldb</property> 
		<property name="hibernate.connection.username">sa</property> <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property> 
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sobreira_games</property>
		<property name="hibernate.connection.username">sobreira_sowgame</property>
		<property name="hibernate.connection.password">sowgame</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/MySQLDS</property>
		-->
		
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/MySQLDS</property>
		
		<mapping class="br.hibernate.Usuario" />
		<mapping class="br.hibernate.Time" />
		<mapping class="br.hibernate.Botao" />
		<mapping class="br.hibernate.Goleiro" />
		<mapping class="br.hibernate.PartidaMesa11" />
		<mapping class="br.hibernate.CampeonatoMesa11" />
		<mapping class="br.hibernate.TimesCampeonatoMesa11" />
		<mapping class="br.hibernate.JogadoresCampeonatoMesa11" />
		<mapping class="br.hibernate.RodadaCampeonatoMesa11" />
	</session-factory>
</hibernate-configuration>
